body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fefaf6;
    color: #333;
    text-align: center;
}

header {
background-color: #ffb347;
color: white;
padding: 10px 0;
font-size: 1.5rem;
}

.logo {
margin: 0;
}

main {
padding: min(15px, 5%);
}

h1 {
margin: 0px;
}

h2 {
margin: 0px;
}

h3 {
margin: 0px;
}

p {
margin: 0px;
}

.home h2 {
font-size: 2rem;
color: #ff7b00;
}

.home p {
max-width: 600px;
margin: 20px auto;
line-height: 1.5;
color: #555;
}

.buttons {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
margin-top: 40px;
}

.btn {
background-color: #ffb347;
color: white;
text-decoration: none;
padding: 15px 30px;
border-radius: 10px;
font-size: 1.2rem;
transition: 0.3s;
}

.btn:hover {
background-color: #ff7b00;
transform: scale(1.05);
}

footer {
background-color: #ffb347;
color: white;
padding: 10px 0;
position: fixed;
bottom: 0;
width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 3px;
}

.noborder {
    border: none;
}

.stock_low {
    color: #ff7b00;
}

.stock_sold_out {
    color: red;
}

.in_stock {
    color: green;
}

.form_cadastro {
    padding: min(15px, 5%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: #333;
    border-width: 1px;
    border-style: dashed;
}

#inputs-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#listagem {
    display: flex;
    justify-content: center;
}

.search_id {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row
}

.total {
    background-color: lightgray;
}

.editing {
    background-color: gold;
    text-decoration: underline;
}